<%- include('partials/header'); -%>
	<main class="homepage dark-mode-bg">
		<!-- Query Container -->
		<section class="query-container">
			<!-- Search Box -->
			<form class="query__search dark-mode-element" onsubmit="return false;">
				<img class="query__search-icon" src="/img/search-dark.png" alt="magnifying glass icon">
				<input class="query__search-input" type="text" name="country" placeholder="Search for a country..." autofocus/>
			</form>

			<!-- Filter by Region -->
			<div class="query__filter">
				<!-- Button -->
				<button type="button" id="query__filter-button" class="dark-mode-element hide">
					<img src="/img/dropdown-dark.png" alt="dropdown icon">
					<p class="query__filter-button-text">By Region</p>
				</button>

				<!-- Dropdown Menu -->
				<div id="query__filter-menu" class="hide dark-mode-element">
					<a class="query__filter-item" href="#">All Regions</a>
					<a class="query__filter-item" href="#">Africa</a>
					<a class="query__filter-item" href="#">America</a>
					<a class="query__filter-item" href="#">Asia</a>
					<a class="query__filter-item" href="#">Europe</a>
					<a class="query__filter-item" href="#">Oceania</a>
				</div>
			  </div>
		</section>

		<!-- Countries Container -->
		<section class="countries-container">
			<!-- Country Card -->
			<% for (let i = 0; i < countriesArr.length ; i++) { %>
				<a class="countries__country-link" href="/country/<%= countriesArr[i].alpha2Code %>">
					<div class="countries__country dark-mode-element">
						<!-- Country Image -->
						<div class="countries__country-image dark-mode-img-background">
							<img src="<%= countriesArr[i].flag %>" alt="country flag">
						</div>
		
						<!-- Country Info -->
						<div class="countries__country-info">
							<!-- Country Name -->
							<h3 class="countries__country-info__header"><%= countriesArr[i].name %></h3>

							<!-- Country Stats -->
							<p class="countries__country-info__stat">
								<span class="countries__country-info__stat-label">Population:</span> <%= (countriesArr[i].population).toLocaleString('en') %>
							</p>
							<p class="countries__country-info__stat">
								<span class="countries__country-info__stat-label">Region:</span> <span class="country__info-region"><%= countriesArr[i].region %></span>
							</p>
							<p class="countries__country-info__stat">
								<span class="countries__country-info__stat-label">Capital:</span> <%= countriesArr[i].capital %>
							</p>
						</div>
					</div>
				</a>
			<% } %>
		</section>

		<!-- No Matches Found -->
		<section id="no-matches" class="hide dark-mode-element">
			No Matches Found!
		</section>
	</main>
<%- include('partials/footer'); -%>
