<%- include('partials/header'); -%>
	<main class="homepage dark-mode-bg">
		<!-- Query Container -->
		<section class="query-container">
			<!-- Search Box -->
			<form class="query__search dark-mode-element">
				<img class="query__search-icon" src="/img/search-dark.png" alt="magnifying glass icon">
				<input class="query__search-input" type="text" name="country" placeholder="Search for a country..." />
			</form>

			<!-- Filters -->
			<form class="query__filter" action="/region" method="post">
				<select class="" name="region" onchange="this.form.submit()">
					<option value="africa">Africa</option>
					<option value="america">America</option>
					<option value="asia">Asia</option>
					<option value="europe">Europe</option>
					<option value="oceania">Oceania</option>
				</select>
			</form>
		</section> <!-- Query Container -->

		<!-- Countries Container -->
		<section class="countries-container">
			<!-- Country Card -->
			<% for (let i = 0; i < countriesArr.length ; i++) { %>
				<a class="countries__country-link" href="/country/<%= countriesArr[i].alpha2Code %>">
					<div class="countries__country dark-mode-element">
						<!-- Country Image -->
						<div class="countries__country-image">
							<img src="<%= countriesArr[i].flag %>" alt="country flag">
						</div>
		
						<!-- Country Info -->
						<div class="countries__country-info">
							<!-- Country Name -->
							<h3 class="countries__country-info__header"><%= countriesArr[i].name %></h3>

							<!-- Country Stats -->
							<p class="countries__country-info__stat">
								<span class="countries__country-info__stat-label">Population:</span> <%= (countriesArr[i].population).toLocaleString('en') %>
							</p>
							<p class="countries__country-info__stat">
								<span class="countries__country-info__stat-label">Region:</span> <%= countriesArr[i].region %>
							</p>
							<p class="countries__country-info__stat">
								<span class="countries__country-info__stat-label">Capital:</span> <%= countriesArr[i].capital %>
							</p>
						</div>
					</div>
				</a>
			<% } %>
		</section> <!-- Countries Container -->
	</main>
<%- include('partials/footer'); -%>
