<%- include('partials/header'); -%>
	<main>
		<!-- Query Container -->
		<section class="query-container">
			<!-- Search Box -->
			<div class="search">
				<form class="/" action="index.html" method="post">
					<input type="text" name="country" placeholder="Search for a country..." />
				</form>
			</div>

			<!-- Filters -->
			<div class="filter">
				<form class="/region" action="index.html" method="post">
					<select class="" name="region" onchange="this.form.submit()">
						<option value="africa">Africa</option>
						<option value="america">America</option>
						<option value="asia">Asia</option>
						<option value="europe">Europe</option>
						<option value="oceania">Oceania</option>
					</select>
				</form>
			</div> <!-- Filters -->
		</section> <!-- Query Container -->

		<!-- Countries Container -->
		<section class="countries-container">
			<!-- Country Card -->
			<% for (let i = 0; i < countriesArr.length ; i++) { %>
				<a href="/country/<%= countriesArr[i].alpha2Code %>">
					<div class="country dark-mode-element">
						<!-- Country Image -->
						<div class="country-image">
							<img src="<%= countriesArr[i].flag %>" alt="country flag">
						</div>
		
						<!-- Country Info -->
						<div class="country-info">
							<!-- Country Name -->
							<h3 class="country-info__header"><%= countriesArr[i].name %></h3>

							<!-- Country Stats -->
							<p class="country-info__stat">
								<span class="country-info__stat-label">Population:</span> <%= (countriesArr[i].population).toLocaleString('en') %>
							</p>
							<p class="country-info__stat">
								<span class="country-info__stat-label">Region:</span> <%= countriesArr[i].region %>
							</p>
							<p class="country-info__stat">
								<span class="country-info__stat-label">Capital:</span> <%= countriesArr[i].capital %>
							</p>
						</div>
					</div>
				</a>
			<% } %>
		</section> <!-- Countries Container -->
	</main>
<%- include('partials/footer'); -%>
