<%- include("header"); -%>

  <!-- Main Container -->
  <section id="main-container" class="dark-mode-bg">

    <!-- Search Section -->
    <div class="query-container">
      <div class="search">
        <form class="/" action="index.html" method="post">
          <input type="text" name="country" placeholder="Search for a country...">
        </form>
      </div>

      <div class="filter">
        <form class="/region" action="index.html" method="post">
          <select class="" name="region" onchange="this.form.submit()">
            <option value="africa">Africa</option>
            <option value="america">America</option>
            <option value="asia">Asia</option>
            <option value="europe">Europe</option>
            <option value="oceania">Oceania</option>
          </select>
        </form>
      </div>
    </div>

    <!-- Countries Container -->
    <div class="countries-container">

      <%for (let i = 0; i < countriesArr.length ; i++) {%>
        <div class="country">
          <a href="/country">
            <div class="image">
              <img src=<%= countriesArr[i].flag %> alt="<%= countriesArr[i].name %> + 'flag'">
            </div>

            <div class="info dark-mode-element">
              <h3><%= countriesArr[i].name %></h3>
              <p><span>Population:</span> <%= (countriesArr[i].population).toLocaleString('en') %></p>
              <p><span>Region:</span> <%= countriesArr[i].region %></p>
              <p><span>Capital:</span> <%= countriesArr[i].capital %></p>
            </div>
          </a>
        </div>
      <%}%>

    </div>

  </section>

<%- include("footer"); -%>
